.vscode/
*.out
*exe

{
    "workbench.activityBar.location": "bottom",
    "workbench.sideBar.location": "right",
    "workbench.iconTheme": "vscode-icons",
    "redhat.telemetry.enabled": true,
    "window.menuBarVisibility": "compact",
    "workbench.navigationControl.enabled": false,
    "workbench.layoutControl.enabled": false,
    "editor.cursorBlinking": "expand",
    "editor.fontFamily": "mononoki",
    "editor.fontLigatures": "'liga', 'calt'", 
    "editor.tokenColorCustomizations": {
    "textMateRules": [
            {
                "scope": [
                    "comment",
                    "variable.language", 
                    "variable.parameter", 
                    "storage.type",
                    "keyword.control", 
                    "markup.italic",
                    "markup.quote",
                    "punctuation.definition.comment",
                    "punctuation.definition.string",
                    "punctuation.definition.variable",
                    "punctuation.definition.keyword",
                    "punctuation.definition.storage",
                    "punctuation.definition.markup",
                    "punctuation.definition.punctuation"
                ],
                "settings": {
                    "fontStyle": "italic"
                }
            }
        ]
    },
    "editor.fontWeight": "bold",
    "files.autoSave": "afterDelay",
    "editor.lineNumbers": "relative",
    "editor.cursorSmoothCaretAnimation": "on",
    "editor.smoothScrolling": true,
    "editor.fontSize": 13,
    "editor.semanticHighlighting.enabled": false,
    "terminal.integrated.fontWeightBold": "bold",
    "workbench.preferredHighContrastLightColorTheme": "Visual Studio Dark - C++",
    "explorer.confirmDelete": false,
    "workbench.editor.empty.hint": "hidden",
    "explorer.confirmPasteNative": false,
    "explorer.confirmDragAndDrop": false,
    "git.openRepositoryInParentFolders": "never",
    "editor.guides.bracketPairs": true,
    "workbench.startupEditor": "none",
    "workbench.editor.enablePreview": false,
    "update.showReleaseNotes": false,
    "vsicons.dontShowNewVersionMessage": true,
    "python.analysis.typeCheckingMode": "standard",
    "chat.agentsControl.enabled": false,
    "liveServer.settings.donotShowInfoMsg": true,
    "markdown-preview-enhanced.enablePreviewZenMode": false,
    "markdown-preview-enhanced.revealjsTheme": "night.css",
    "workbench.colorTheme": "Monokai",
    "python.createEnvironment.trigger": "off",
    "security.workspace.trust.untrustedFiles": "open",
    "extensions.ignoreRecommendations": true
}